#root {
  .background-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(8, minmax(0, 1fr)); 
    }

    &:not(:first-child):not(:last-child):nth-child(odd) {
      background-color: $green;
    }

    &:not(:first-child):not(:last-child):nth-child(even) {
      background-color: $white;
    }

    .container {
      grid-column: 3 / 11;

      @media (max-width: 1200px) {
        grid-column: 2 / 8;
      }

      @media (max-width: 767px) {
        grid-column: 1 / -1;
      }
    }
  }

  article, footer {
    &:has(.container) {
      padding: 3rem;
    }
  }

  h1,
  h2 {
    @extend .display-text;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    padding: 0;
    text-decoration: none;
    color: inherit;
  }

  .navbar{
    padding: 0;
  }
}
