#root {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  header,
  main,
  footer {
    grid-column: 3 / 11;

    @media (max-width: 1200px) {
      grid-column: 2 / 8;
    }

    @media (max-width: 767px) {
      grid-column: 1 / -1;
    }
  }
}
