/*
Regular: 400
Medium: 500
Bold: 700
ExtraBold: 800
*/
.display-text, #root h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 4rem;
  color: #F4CE14;
  line-height: 0.5;
}

.subtitle-text {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #FFFFFF;
}

.lead-text, #reservations .container #confirmation-screen span, main #testimonials .container #testimonials-grid .card-body .card-title, main #testimonials .container #testimonials-grid .card-body header .navbar #basic-navbar-nav .navbar-nav a, header .navbar #basic-navbar-nav .navbar-nav main #testimonials .container #testimonials-grid .card-body a, main #testimonials footer .container #testimonials-grid .card-body h3, footer main #testimonials .container #testimonials-grid .card-body h3, main #specials #special-cards .card .card-body .title-price .price, main #specials #special-cards .card .card-body .title-price .title-card-specials, #root .custom-button {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: #495E57;
}

.section-title, #reservations .container h2 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #495E57;
}

.section-categorie, #reservations .container form div .form-label {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  color: #495E57;
}

.highlight-text {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #495E57;
}

.paragraph-text, main #specials #special-cards .card .card-body a, #root p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 15px;
  color: #495E57;
}

.card-title, footer .container h3, header .navbar #basic-navbar-nav .navbar-nav a {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #495E57;
}

#root .background-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
}
@media (max-width: 1200px) {
  #root .background-container {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  #root .background-container {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
#root .background-container:nth-child(odd) {
  background-color: #495E57;
}
#root .background-container:nth-child(even) {
  background-color: #FFFFFF;
}
#root .background-container .container {
  grid-column: 3/11;
}
@media (max-width: 1200px) {
  #root .background-container .container {
    grid-column: 2/8;
  }
}
@media (max-width: 767px) {
  #root .background-container .container {
    grid-column: 1/-1;
  }
}
#root article:has(.container),
#root footer:has(.container) {
  padding: 3rem 0;
}
#root img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
#root ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#root a {
  padding: 0;
  text-decoration: none;
  color: inherit;
}
#root .navbar {
  padding: 0;
}
#root .custom-button {
  padding: 0.5rem 1rem !important;
  border-radius: 3rem !important;
  border: 1px solid transparent !important;
  background-color: #F4CE14 !important;
  text-align: center;
}
#root .custom-button:hover {
  border: 1px solid #F4CE14 !important;
  background-color: #495E57 !important;
  color: #FFFFFF !important;
}
#root .card {
  border-radius: 1rem;
}
#root .section-header, #root main #testimonials .container .section-header h2, main #testimonials .container .section-header #root h2 {
  margin-bottom: 2rem;
}

header {
  background-color: #FFFFFF !important;
}
header .navbar {
  padding: 0;
}
header .navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
header .navbar .navbar-brand img {
  width: auto;
  height: 4rem;
}
header .navbar .navbar-toggler {
  border: 0;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  color: #495E57;
  font-size: xx-large;
}
header .navbar #basic-navbar-nav .navbar-nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
}
header .navbar #basic-navbar-nav .navbar-nav a {
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #495E57;
}
header .navbar #basic-navbar-nav .navbar-nav a:hover {
  background-color: #F4CE14;
}

footer {
  background-color: #495E57 !important;
  color: #FFFFFF;
  padding: 2rem 1rem;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
}
@media (max-width: 1024px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  footer .container {
    grid-template-columns: 1fr;
  }
}
footer .container img {
  border-radius: 0 !important;
  width: 100%;
  min-width: 150px;
  max-width: 250px !important;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .container h3 {
  color: #FFFFFF;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
footer .container .nav-link {
  color: #FFFFFF;
  text-decoration: none;
}
footer .container .nav-link:hover {
  color: #F4CE14;
}
footer .container div {
  width: 100%;
}
footer .container #contact-us ul {
  font-style: italic;
  padding: 0;
  list-style: none;
}
footer .container #contact-us ul li {
  margin-bottom: 0.5rem;
}
footer .container #sitemap .navbar-nav {
  display: flex;
  flex-direction: column;
}
footer .container #sitemap .navbar-nav li {
  margin-bottom: 0.5rem;
}
footer .container #connect-with-us ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  footer .container #connect-with-us ul {
    justify-content: center;
  }
}
footer .container #connect-with-us a {
  color: #FFFFFF;
  font-size: 1.2rem;
}
footer .container #connect-with-us a:hover {
  color: #F4CE14;
}

main #hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
main #hero .container div {
  height: -moz-fit-content;
  height: fit-content;
}
main #hero .container div p {
  color: #FFFFFF !important;
}
main #hero .container .image-container {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #hero .container .image-container img {
  aspect-ratio: 1;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
  max-width: 400px;
  max-height: 400px;
}
@media (max-width: 767px) {
  main #hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
  }
}
main #specials #specials-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
main #specials #specials-header h2 {
  margin: 0;
}
main #specials #special-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
main #specials #special-cards .card {
  transition: transform 0.3s ease-in-out;
}
main #specials #special-cards .card img {
  min-height: 150px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}
main #specials #special-cards .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #specials #special-cards .card .card-body .title-price {
  display: flex;
  justify-content: space-between;
}
main #specials #special-cards .card .card-body .title-price .price {
  color: #EE9972 !important;
}
main #specials #special-cards .card:hover {
  transform: scale(1.025);
}
main #testimonials .container .section-header h2, main #testimonials .container .section-header h2 h2 {
  text-align: center;
  color: #FFFFFF !important;
}
main #testimonials .container #testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
main #testimonials .container #testimonials-grid .card-img {
  padding: 1rem 3rem;
  border-radius: 50%;
}
main #testimonials .container #testimonials-grid .card-body .card-title, main #testimonials .container #testimonials-grid .card-body header .navbar #basic-navbar-nav .navbar-nav a, header .navbar #basic-navbar-nav .navbar-nav main #testimonials .container #testimonials-grid .card-body a, main #testimonials footer .container #testimonials-grid .card-body h3, footer main #testimonials .container #testimonials-grid .card-body h3 {
  text-align: center;
}
main #testimonials .container #testimonials-grid .card-body .rating .star {
  color: #F4CE14;
}
main #about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
main #about .container #about-text h3 {
  color: #495E57 !important;
}
main #about .container #about-images {
  position: relative;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  max-width: 500px;
  aspect-ratio: 1;
  margin: 0 auto;
}
main #about .container #about-images img {
  position: absolute;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main #about .container #about-images img:first-child {
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
main #about .container #about-images img:last-child {
  z-index: 2;
  top: 10%;
  left: 20%;
  transform: translate(0, 0);
}
@media (max-width: 767px) {
  main #about .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
  }
  main #about .container #about-images {
    max-width: 100%;
    position: relative;
  }
  main #about .container #about-images img {
    width: 100%;
    position: static;
    margin-bottom: 1rem;
  }
}

#reservations {
  background-color: #FFFFFF !important;
}
#reservations .container h2 {
  text-align: center;
}
#reservations .container form div {
  margin-bottom: 1rem;
}
#reservations .container form div #ocasion {
  text-align: center;
}
#reservations .container #confirmation-screen span {
  text-transform: capitalize;
}